In [1]:

import pandas as pd

In [2]:
df= pd.read_csv("C:/Users/Pol Jofre/CSV/adult.data.csv")

In [4]:
#How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [5]:
race_number= df["race"].value_counts()

In [6]:
race_number

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [7]:
#What is the average age of men?

In [44]:
average_age_men= df[df["sex"]=="Male"]["age"].mean()

In [49]:
round(average_age_men, 1)

39.4

In [10]:
#What is the percentage of people who have a Bachelor's degree?

In [11]:
bachelors_degree=(len(df[df["education"]=="Bachelors"])/len(df))*100

In [48]:
round(bachelors_degree, 1)

16.4

In [13]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [14]:
    advanced_education= [df[df["education"]=="Bachelors"], df[df["education"]=="Masters"], df[df["education"]=="Doctorate"]]

In [15]:
advanced_education

[       age         workclass  fnlwgt  education  education-num  \
 0       39         State-gov   77516  Bachelors             13
 1       50  Self-emp-not-inc   83311  Bachelors             13
 4       28           Private  338409  Bachelors             13
 9       42           Private  159449  Bachelors             13
 11      30         State-gov  141297  Bachelors             13
 ...    ...               ...     ...        ...            ...
 32530   35                 ?  320084  Bachelors             13
 32531   30                 ?   33811  Bachelors             13
 32533   54           Private  337992  Bachelors             13
 32536   34           Private  160216  Bachelors             13
 32538   38           Private  139180  Bachelors             13

            marital-status       occupation   relationship                race  \
 0           Never-married     Adm-clerical  Not-in-family               White
 1      Married-civ-spouse  Exec-managerial        Husband               White
 4      Married-civ-spouse   Prof-specialty           Wife               Black
 9      Married-civ-spouse  Exec-managerial        Husband               White
 11     Married-civ-spouse   Prof-specialty        Husband  Asian-Pac-Islander
 ...                   ...              ...            ...                 ...
 32530  Married-civ-spouse                ?           Wife               White
 32531       Never-married                ?  Not-in-family  Asian-Pac-Islander
 32533  Married-civ-spouse  Exec-managerial        Husband  Asian-Pac-Islander
 32536       Never-married  Exec-managerial  Not-in-family               White
 32538            Divorced   Prof-specialty      Unmarried               Black

           sex  capital-gain  capital-loss  hours-per-week native-country  \
 0        Male          2174             0              40  United-States
 1        Male             0             0              13  United-States
 4      Female             0             0              40           Cuba
 9        Male          5178             0              40  United-States
 11       Male             0             0              40          India
 ...       ...           ...           ...             ...            ...
 32530  Female             0             0              55  United-States
 32531  Female             0             0              99  United-States
 32533    Male             0             0              50          Japan
 32536  Female             0             0              55  United-States
 32538  Female         15020             0              45  United-States

       salary
 0      <=50K
 1      <=50K
 4      <=50K
 9       >50K
 11      >50K
 ...      ...
 32530   >50K
 32531  <=50K
 32533   >50K
 32536   >50K
 32538   >50K

 [5355 rows x 15 columns],
        age         workclass  fnlwgt education  education-num  \
 5       37           Private  284582   Masters             14
 8       31           Private   45781   Masters             14
 19      43  Self-emp-not-inc  292175   Masters             14
 47      44           Private  128354   Masters             14
 87      33           Private  202051   Masters             14
 ...    ...               ...     ...       ...            ...
 32504   50           Private  208630   Masters             14
 32513   46           Private   42972   Masters             14
 32544   31           Private  199655   Masters             14
 32553   32           Private  116138   Masters             14
 32554   53           Private  321865   Masters             14

            marital-status       occupation   relationship                race  \
 5      Married-civ-spouse  Exec-managerial           Wife               White
 8           Never-married   Prof-specialty  Not-in-family               White
 19               Divorced  Exec-managerial      Unmarried               White
 47               Divorced  Exec-managerial      Unmarried               White
 87     Married-civ-spouse   Prof-specialty        Husband               White
 ...                   ...              ...            ...                 ...
 32504            Divorced            Sales  Not-in-family               White
 32513  Married-civ-spouse   Prof-specialty           Wife               White
 32544            Divorced    Other-service  Not-in-family               Other
 32553       Never-married     Tech-support  Not-in-family  Asian-Pac-Islander
 32554  Married-civ-spouse  Exec-managerial        Husband               White

           sex  capital-gain  capital-loss  hours-per-week native-country  \
 5      Female             0             0              40  United-States
 8      Female         14084             0              50  United-States
 19     Female             0             0              45  United-States
 47     Female             0             0              40  United-States
 87       Male             0             0              50  United-States
 ...       ...           ...           ...             ...            ...
 32504  Female             0             0              50  United-States
 32513  Female             0             0              22  United-States
 32544  Female             0             0              30  United-States
 32553    Male             0             0              11         Taiwan
 32554    Male             0             0              40  United-States

       salary
 5      <=50K
 8       >50K
 19      >50K
 47     <=50K
 87     <=50K
 ...      ...
 32504   >50K
 32513   >50K
 32544  <=50K
 32553  <=50K
 32554   >50K

 [1723 rows x 15 columns],
        age         workclass  fnlwgt  education  education-num  \
 20      40           Private  193524  Doctorate             16
 63      42           Private  116632  Doctorate             16
 89      43       Federal-gov  410867  Doctorate             16
 96      48  Self-emp-not-inc  191277  Doctorate             16
 189     58         State-gov  109567  Doctorate             16
 ...    ...               ...     ...        ...            ...
 32429   51         Local-gov  203334  Doctorate             16
 32469   58      Self-emp-inc  181974  Doctorate             16
 32470   50           Private  485710  Doctorate             16
 32532   34           Private  204461  Doctorate             16
 32539   71                 ?  287372  Doctorate             16

            marital-status       occupation   relationship   race     sex  \
 20     Married-civ-spouse   Prof-specialty        Husband  White    Male
 63     Married-civ-spouse   Prof-specialty        Husband  White    Male
 89          Never-married   Prof-specialty  Not-in-family  White  Female
 96     Married-civ-spouse   Prof-specialty        Husband  White    Male
 189    Married-civ-spouse   Prof-specialty        Husband  White    Male
 ...                   ...              ...            ...    ...     ...
 32429            Divorced  Exec-managerial  Not-in-family  White  Female
 32469       Never-married   Prof-specialty  Not-in-family  White  Female
 32470            Divorced   Prof-specialty  Not-in-family  White  Female
 32532  Married-civ-spouse   Prof-specialty        Husband  White    Male
 32539  Married-civ-spouse                ?        Husband  White    Male

        capital-gain  capital-loss  hours-per-week native-country salary
 20                0             0              60  United-States   >50K
 63                0             0              45  United-States   >50K
 89                0             0              50  United-States   >50K
 96                0          1902              60  United-States   >50K
 189               0             0               1  United-States   >50K
 ...             ...           ...             ...            ...    ...
 32429             0             0              45  United-States   >50K
 32469             0             0              99              ?  <=50K
 32470             0             0              50  United-States  <=50K
 32532             0             0              60  United-States   >50K
 32539             0             0              10  United-States   >50K

 [413 rows x 15 columns]]

In [16]:
advanced_education= pd.concat(advanced_education)

In [17]:
advanced_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32429,51,Local-gov,203334,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,45,United-States,>50K
32469,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,?,<=50K
32470,50,Private,485710,Doctorate,16,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K

In [18]:
advanced_education_percentage =(len(advanced_education[advanced_education["salary"]==">50K"])/len(advanced_education))*100

In [50]:
round(advanced_education_percentage,1)

46.5

In [20]:
#What percentage of people without advanced education make more than 50K?

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [22]:
df["education"]

0         Bachelors
1         Bachelors
2           HS-grad
3              11th
4         Bachelors
            ...
32556    Assoc-acdm
32557       HS-grad
32558       HS-grad
32559       HS-grad
32560       HS-grad
Name: education, Length: 32561, dtype: object

In [23]:
without_advanced_education= df[df["education"] != "Bachelors"]

In [24]:
without_advanced_education= without_advanced_education[without_advanced_education["education"]!="Masters"]

In [25]:
without_advanced_education= without_advanced_education[without_advanced_education["education"]!="Doctorate"]

In [26]:
without_advanced_education_percentage= ( (len( without_advanced_education[without_advanced_education["salary"] == ">50K"]) / len(without_advanced_education)) * 100)

In [51]:
round(without_advanced_education_percentage,1)

17.4

In [28]:
#What is the minimum number of hours a person works per week?

In [29]:
min_hours_week= df["hours-per-week"].min()

In [30]:
min_hours_week

1

In [31]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [32]:
min_working = df.loc[df["hours-per-week"] == min_hours_week]

In [33]:
min_work_percentage = round(100 * min_working.loc[min_working["salary"] == ">50K"].size
        / min_working.size, 1,)

In [52]:
round(min_work_percentage, 1)

10.0

In [35]:
#What country has the highest percentage of people that earn >50K and what is that percentage?#

In [36]:
countries_percentage= (df[df["salary"]== ">50K"]["native-country"].value_counts()/df["native-country"].value_counts())*100

In [37]:
countries_percentage

?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: native-country, dtype: float64

In [38]:
#dentify the most popular occupation for those who earn >50K in India.

In [39]:
popular_job_India= df[df["native-country"]=="India"]

In [40]:
popular_job_India= popular_job_India[popular_job_India["salary"]==">50K"]

In [41]:
most_popular_rich= popular_job_India['occupation'].value_counts().idxmax()

In [42]:
most_popular_rich

'Prof-specialty'